doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  head
    +css("assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("assets/lib/ldcover/main/index.min.css")
  body
    .m-4
      input.mb-4(type="file")
      .ldcv: .base: .inner.card: .card-body
        .btn.btn-outline-dark.m-2(data-ldcv-set="utf-8") UTF-8
        .btn.btn-outline-dark.m-2(data-ldcv-set="big5") BIG5
        .btn.btn-outline-dark.m-2(data-ldcv-set="gb2312") GB2312
      textarea#textarea.form-control(rows="10",placeholder="output")

    +script("assets/lib/bootstrap.native/main/dist/bootstrap-native.min.js")
    +script("assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("assets/lib/ldcover/main/index.min.js")
    +script("assets/ldfile/dev/index.js")
    script(type="module"): include:lsc index.ls
